:root {
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-text: #f1f1f1;

  --color-primary: #2196f3;
  --color-primary-hover: #1976d2;

  --color-warn: #ff9800;    
  --color-error: #f44336;   

  --color-border: #444;
  --color-shadow: rgba(0, 0, 0, 0.3);

  --border-radius:8px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus{
  outline: 1px solid rgb(90, 89, 89);
}

.notfound-container{
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.notfound-container a{
  color: var(--color-primary);
}