.login-form-container{
    max-width: 500px;
    margin: 3em auto;
    background-color: rgba(0,0,0,0.3);
    
    border-radius: var(--border-radius);
}

.login-form-container::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: conic-gradient(from 45deg at 70% -10%, #fff700, #f4f71a, #a4f663, #00ccd1, #724aa8, #6c1035, #5c0107, #590000);
    z-index: -1;
}

.login-form-container button{
    margin-bottom: 2em;
}

.top-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-row img{
    height: 100px;
}

.top-row h2{
    font-size: 2rem;
    color: var(--color-text);
}

.login-res-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    margin-bottom: 3em;
    border-radius: var(--border-radius);
}
.login-res-form .form-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:3px;
    width: 80%;
}

.login-res-form  .form-item label{
    color: var(--color-text);
    align-self: flex-start;
}

.login-res-form .form-item input{
    font-size: 1rem;
    padding: 0.5em 0.75em;
    border: none;
    background-color: var(--color-border);
    color: var(--color-text);
    width: 100%;
}

.login-res-form button, .author-form-container button{
    color: var(--color-text);
    background: var(--color-border);
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border);
    transition: all 0.3s ease;
}

.login-res-form button:hover, .author-form-container button:hover{
    color: var(--color-primary);
    border:2px solid var(--color-primary)
}

.textarea{
    resize: none;
    background-color: var(--color-surface);
    color: var(--color-text);
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
}

.author-form-container{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1em;
    border: 1px solid var(--color-border);
    margin-top: 2em;
}

.author-form-container form{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.author-form-container form .form-item{
    gap:10px;
    width: 80%;
}

.author-form-container form .form-item:last-of-type{
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
}

.author-form-container form input{
    flex: 1;
}
.errors{
    width: 100%;
    text-align: center;
    margin: 9px 0;
    margin-bottom: -5px;
}
.errors p{
    color: var(--color-warn);
    font-size: 1.2rem;
}